// .auth {
//     min-height: 80vh;
//     display: flex;
//     justify-content: center;
//     align-items: center;

//     .img {
//       animation: slide-down 0.5s ease;
//     }

//     .form {
//       width: 35rem;
//       padding: 1.5rem;
//       animation: slide-up 0.5s ease;
//       background-color: #fff;
//       h2 {
//         color: var(--color-danger);
//         text-align: center;
//       }
  .links {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
  }

  p {
    text-align: center;
    margin: 1rem;
  }

@keyframes slide-up {
  0% {
    transform: translateY(-5rem);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slide-down {
  0% {
    transform: translateY(5rem);
  }
  100% {
    transform: translateY(0);
  }
}

.login_ctr {
  width: 50%;
  margin: 15px auto;
}
.login-inputs-ctr-divided {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
}
.register {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

@media screen and (max-width: 700px) {
  .img {
    display: none;
  }
}
